.popup__positioning {
    margin: auto;
    width: 358px;
    border: 0;
    border-bottom: 1px solid #000000;
    padding-bottom: 13px;
    font-size: 14px;
    line-height: 17px;
   
}
@media screen and (max-width: 767px) {
    .popup__positioning {
        width: 238px;
    }
}
.popup__positioning::placeholder {
    color: #000000;
    
}

