.popup__input {
    margin: auto;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0 0 8px 0;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    box-sizing: border-box;
}

.popup__input::placeholder {
    color: #000000;
}

.popup__input:nth-child(2) {
    margin-top: 32px;
}
