.profile {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 767px) {
    .profile {
        max-width: 282px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 32px;
        
    }
}