.popup-add__input-form {
    padding-top: 50px;
    padding-bottom: 37px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border:0;
    width: 358px;
}

@media screen and (max-width: 767px) {
    .popup-add__input-form {
        width: 238px;
        padding-top: 75px;
        padding-bottom: 25px;
    }
}