.profile__positioning {
    font-size: 18px;
    line-height: 22px; 
    padding-top: 8px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
}

@media screen and (max-width: 767px) {
    .profile__positioning {
        font-size: 14px;
        line-height: 17px;
        text-align: center; 
        align-self: center;
        max-width: 282px;
    }
}