.popup__name {
    margin: auto;
    width: 358px;
    border: 0;
    border-bottom: 1px solid #000000;
    padding-bottom: 13px;
    font-size: 14px;
    line-height: 17px;
    display: block;
}

@media screen and (max-width: 767px) {
    .popup__name {
        width: 238px;
    }
}

.popup__name::placeholder {
    color: #000000;
}


