
.profile__btn-container {
    display: inline;
    padding-left: 23px;
    line-height: 30px;
    align-self: self-end;
}

@media screen and (max-width: 767px) {
    .profile__btn-container  {
        line-height: 28px;
        padding-left: 10px;
    
    }
}