.popup-image__close {
    width: 32px;
    height: 32px;
    background: transparent;
    background-image: url('../../../images/close_Icon.svg');
    background-size: cover;
    background-position: center;
    border: 0;
    position: absolute;
    top: -38px;
    right: -38px;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .popup-image__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0px;
        background-image: url('../../../images/close_btn_mobile.svg');
    }
}
.popup-image__close:hover {
    opacity: .6;
    cursor: pointer;
}