.profile__info-block {
    display: flex;
    column-gap: 30px;
}

@media screen and (max-width: 767px) {
    .profile__info-block {
      flex-direction: column;
      row-gap: 28px;
      justify-content: center;
    }
}