.popup__input {
    margin: 33px auto 0 auto;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0 0 12px 0;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}



.popup__input:nth-child(2) {
    margin-top: 32px;
}
