.profile__overlay-avatar {
    background-image: url('../../../images/edit_avatar.svg');
    height: 26px;
    width: 26px;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% - 13px);
    opacity: 0;
}
